  .btn {
    background-color: #1F1F1F;
    border: none;
    display: inline-block;
    color: #FFFFFF;
    height: rem(36);
    font-size: 12px;
    padding: 0 rem(16);
    text-transform: uppercase;
  
    &:hover {
      cursor: pointer;
    }
  }
  
  a.btn {
    line-height: 36px;
  }