
input {
  border: none;
  height: 2.25rem;
  padding: 0 rem(16);
}

input:active,
input:focus {
  border: none;
  outline: none;
}

.form-subscribe .input-subscribe {
  background-color: $white;
  color: $black;
  font-size: 11px;
}
