
.btn {
  background-color: #1F1F1F;
  color: #FFFFFF;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  height: 2.25rem;
  padding: 0 1rem; }

input {
  border: none;
  height: 2.25rem;
  padding: 0 1rem; }

input:active,
input:focus {
  border: none;
  outline: none; }

.form-subscribe .input-subscribe {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 11px; }
