.header-tools {
  background-color: $black;
  height: rem(20);
  font-size: 11px;
  font-family: Arial, sans-serif;
}

.header .header-logo {
  margin: 1.25rem 0;
  text-align: center;
  img {
    width: rem(176);
  }
}

.c-black {
  background-color: #000000;
}

.u-inline {
  display: inline-block;
  vertical-align: middle;
}


//
// Top navigation panel
// 
.nav-tools {
  height: rem(20);
  float: right;
  width: 10rem;
  text-align: right;

  .item {
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    height: 100%;
    line-height: 20px;
    padding: 0 1.25rem;
    vertical-align: middle;
    text-transform: uppercase;
  }
}

.nav-primary {
  height: rem(50);

  .nav-primary-item {
    color: #3C3C3C;
    font-size: 15px;
    line-height: rem(50);
  
    &.is-active {
      border-bottom: 1px solid #979797;
      padding-bottom: rem(22);
    }
  }

  .p-row {
    border-bottom: 1px solid #979797;
  }
  .p-row > div {
    text-align: center;
  }
  .p-row > div:first-child {
    text-align: left;
  }
  .p-row > div:last-child {
    text-align: right;
  }
}
