h1, h2, p, label {
  font-family: Arial, sans-serif;
}

h1, h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

p, label {
  margin-bottom: 10px;
}

p {
  line-height: 1.3;
}


a:hover {
  text-decoration: underline;
}