html, body, p, h1, input, table {
  margin: 0;
  padding: 0; }

div, input, button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

p {
  line-height: 1.8;
  margin-bottom: 1rem; }

table {
  border-collapse: collapse; }

h1, h2, p, label {
  font-family: Arial, sans-serif; }

h1, h2 {
  font-weight: bold;
  margin-bottom: 20px; }

h1 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 1rem; }

p, label {
  margin-bottom: 10px; }

p {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 1.5rem; }

p.small {
  font-size: 11px;
  margin-bottom: 0; }

a:hover {
  text-decoration: underline; }

.page-title {
  border-bottom: 1px solid #000;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  text-transform: uppercase; }

.text-center {
  text-align: right; }

.text-right {
  text-align: right; }

.visually-hidden {
  display: none; }

.p-row {
  margin: 0 auto;
  max-width: 71.25rem; }

.p-row:after {
  content: '';
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

.p-row > div {
  float: left;
  position: relative;
  padding: 0 0.625rem; }

.p-12 {
  width: 100%; }

.p-2 {
  width: 16.6666666667%; }

.p-3 {
  width: 25%; }

.p-5 {
  width: 50%; }

.p-6 {
  width: 50%; }

.f-2-3 {
  width: 66.66666666666666%; }

.f-3-4 {
  width: 75%; }

.f-5-6 {
  width: 83.33333333333334%; }

@media (max-width: 580px) {
  .bp-s-1 {
    width: 100%; } }

.header-tools {
  background-color: #000;
  height: 1.25rem;
  font-size: 11px;
  font-family: Arial, sans-serif; }

.header .header-logo {
  margin: 1.25rem 0;
  text-align: center; }
  .header .header-logo img {
    width: 11rem; }

.c-black {
  background-color: #000000; }

.u-inline {
  display: inline-block;
  vertical-align: middle; }

.nav-tools {
  height: 1.25rem;
  float: right;
  width: 10rem;
  text-align: right; }
  .nav-tools .item {
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    height: 100%;
    line-height: 20px;
    padding: 0 1.25rem;
    vertical-align: middle;
    text-transform: uppercase; }

.nav-primary .p-row > div,
.nav-secondary .p-row > div {
  padding: 0; }

.nav-primary {
  height: 3.125rem; }
  .nav-primary .nav-primary-item {
    color: #3C3C3C;
    font-size: 15px;
    line-height: 3.125rem; }
    .nav-primary .nav-primary-item.is-active {
      border-bottom: 1px solid #979797;
      padding-bottom: 1.375rem; }
  .nav-primary .p-row {
    border-bottom: 1px solid #979797; }
  .nav-primary .p-row > div {
    text-align: center; }
  .nav-primary .p-row > div:first-child {
    text-align: left; }
  .nav-primary .p-row > div:last-child {
    text-align: right; }

.nav-secondary .p-row {
  background-color: #000; }

.nav-secondary .nav-item {
  height: 2.5rem;
  display: inline-block; }
  .nav-secondary .nav-item a {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 2.5rem;
    padding: 0 1rem; }
  .nav-secondary .nav-item.is-active a {
    background-color: #1F1F1F; }

.footer {
  color: #fff;
  font-family: Arial;
  padding: 2.5rem 0; }
  .footer .footer-title {
    font-size: 18px;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  .footer .footer-text,
  .footer .footer-link {
    font-size: 11px; }
  .footer .footer-link {
    margin-bottom: 0.5rem; }
  .footer .footer-link a {
    color: #FFFFFF; }

@media (max-width: 580px) {
  .footer {
    padding: 1.25rem 0.625rem; }
    .footer .subscribe {
      text-align: center; }
    .footer .subscribe .btn {
      display: none; }
    .footer .subscribe .input-subscribe {
      width: 100%; }
    .footer .footer-social {
      margin: 1.25rem 0; } }

.main-content {
  padding: 1.25rem 0 3.75rem 0; }

.cart-table {
  margin-bottom: 1rem;
  width: 100%; }
  .cart-table .cart-row {
    background-color: #EAEAEA;
    height: 9.375rem;
    margin-bottom: 1.25rem;
    position: relative; }
    .cart-table .cart-row > div {
      padding: 0;
      text-align: center; }
  .cart-table .cart-value {
    display: inline-block;
    margin-top: 3.75rem;
    text-align: left; }
  .cart-table .cart-image a {
    display: block;
    text-align: right; }
  .cart-table .cart-image img {
    display: inline-block;
    height: 100%;
    max-height: 9.375rem; }

input {
  border: none;
  height: 2.25rem;
  padding: 0 1rem; }

input:active,
input:focus {
  border: none;
  outline: none; }

.form-subscribe .input-subscribe {
  background-color: #fff;
  color: #000;
  font-size: 11px; }

.btn {
  background-color: #1F1F1F;
  border: none;
  display: inline-block;
  color: #FFFFFF;
  height: 2.25rem;
  font-size: 12px;
  padding: 0 1rem;
  text-transform: uppercase; }
  .btn:hover {
    cursor: pointer; }

a.btn {
  line-height: 36px; }

.feature img {
  width: 100%; }

.product-feature {
  margin-bottom: 1.25rem; }

.product-thumbnails {
  margin: 0;
  padding: 0; }
  .product-thumbnails .image-overlay {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1; }
  .product-thumbnails .image {
    display: inline-block;
    overflow: hidden;
    position: relative;
    list-style: none;
    height: 10.625rem;
    width: 33.3333333%; }
    .product-thumbnails .image img {
      width: 100%; }

.variant-select {
  display: none; }

/* Label */
.swatch {
  margin-bottom: 1.25rem; }
  .swatch input {
    display: none; }
  .swatch .swatch-header {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 0.625rem; }
  .swatch .swatch-element {
    display: inline-block;
    margin: 0 0.5rem 0 0;
    position: relative;
    vertical-align: middle; }
    .swatch .swatch-element label {
      font-size: 1.25rem;
      font-weight: bold; }
      .swatch .swatch-element label:hover {
        cursor: pointer; }
    .swatch .swatch-element.color label {
      border-radius: 20px;
      display: block;
      margin: 0;
      height: 1.25rem;
      width: 1.25rem; }

.swatch .swatch-element label {
  border: 1px solid transparent;
  padding: 0.1875rem; }

.swatch .swatch-element input:checked + label {
  border: 1px solid #000; }

.swatch .swatch-element.color label {
  padding: 0; }

.swatch .swatch-element.color input:checked + label:before {
  content: '';
  border: 1px solid #979797;
  width: 1.375rem;
  height: 1.375rem;
  position: absolute;
  border-radius: 50%;
  top: -0.125rem;
  left: -0.125rem; }

.swatch .swatch-element.color input:checked + label {
  border: none; }

.product {
  border-top: 1px solid #979797;
  padding-top: 2.5rem;
  margin-bottom: 2.5rem; }

.product-price {
  font-size: 32px; }

.product-title {
  font-size: 30px;
  padding-bottom: 0.625rem; }
